<html>
<body>
@{
    ViewBag.Title = "AuctionScheduler";
}
  <meta charset="utf-8">

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>


  <style>
    body {
      line-height: 1;
      margin: 50px;
    }
    div {
      background: rgba(0, 0, 0, .1);
      border-radius: 5px;
      box-sizing: border-box;
      padding: 15px;
      width: 220px;
    }
    header {
      overflow: clear;
      position: relative;
    }
    h2 {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 10px;
      text-align: center;
    }
    button {
      position: absolute;
      top: -4px;
    }
    button:first-child {
      left: 0;
    }
    button:last-child {
      right: 0;
    }
    table {
      background: #fff;
      border-collapse: collapse;
      color: #222;
      font-family: 'PT Sans', sans-serif;
      font-size: 13px;
      width: 100%;
    }
    td {
      border: 1px solid #ccc;
      color: #444;
      line-height: 22px;
      text-align: center;
    }
    tr:first-child td {
      color: #222;
      font-weight: 700;
    }
    .selected {
      background: #f0951d;
      border: 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
    }
  </style>


<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Admin/Index">Home</a></li>
    <li role="presentation" class="active"><a href="/Admin/AuctionScheduler">Schedule Auction</a></li>
    <li role="presentation"><a href="/Admin/AssignCreditScore">Assign Credit Score</a></li>
</ul>
    <h2> Schedule Auction</h2>   
         
  <table class="table table-striped">
    <thead>
        <tr> <th>Contract ID </th> 
            <th> Company </th> 
            <th> First Name </th>
            <th> Last Name </th> 
            <th> Date </th> 
            <th> Time </th>
        </tr>
      </thead>
      <tbody>        
              <tr> <td>51328957</td>
               <td> XYZ Company</td>
               <td> Betty</td>
               <td> DeRoss</td>
                <td>                   <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Date
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <p>
  <header>
    <button>«</button>
    <h2>June 2017</h2>
    <button>»</button>
  </header>
<table class="table table-striped">
  <tr>
    <td>S</td>
    <td>M</td>
    <td>T</td>
    <td>W</td>
    <td>Th</td>
    <td>F</td>
    <td>S</td>
  </tr>
  <tr>
    <td></td>
    <td></td> 
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
  </tr>
  <tr>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    <td>14</td>
    <td>15</td>
  </tr>
  <tr>
    <td>16</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
    <td>20</td>
    <td>21</td>
    <td>22</td>
  </tr>
  <tr>
     <td>23</td>
    <td class="selected">24</td>
    <td>25</td>
    <td>26</td>
    <td>27</td>
    <td>28</td>
    <td>29</td>
        </tr>
  <tr>
    <td>30</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</p></td>
               <td> 
                  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Time
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">8:00 AM</a></li>
    <li><a href="#">8:30 AM</a></li>
    <li><a href="#">9:00 AM</a></li>  
    <li><a href="#">9:30 AM</a></li>
    <li><a href="#">10:00 AM</a></li>  
    <li><a href="#">10:30 AM</a></li>   
    <li><a href="#">11:00 AM</a></li>  
    <li><a href="#">11:30 AM</a></li>
    <li><a href="#">12:00 PM</a></li>
    <li><a href="#">12:30 PM</a></li>
    <li><a href="#">1:00 PM</a></li>
    <li><a href="#">1:30 PM</a></li>
    <li><a href="#">2:00 PM</a></li>
    <li><a href="#">2:30 PM</a></li>
    <li><a href="#">3:00 PM</a></li>
    <li><a href="#">3:30 PM</a></li>
    <li><a href="#">4:00 PM</a></li>
    <li><a href="#">4:30 PM</a></li>
    <li><a href="#">5:00 PM</a></li>
  </ul>
</div>
</td> 
</tr> 
</tbody>
</table>
    <form>
    <br><br>
    <button type="button" class="btn"> Submit Changes</button>   
    </form>
            
        </div>
</body>
</html>